@using Telimena.WebApp.Core.DTO
@using Telimena.WebApp.Models.Shared
@using Telimena.WebApp.UiStrings
@model Telimena.WebApp.Models.ProgramStatistics.ProgramStatisticsViewModel
@{
    ViewBag.Title = "Dashboard";
}

@Html.Partial("_ProgramHeaderMenu", new ProgramHeaderMenuViewModel { ProgramName = Model.ProgramName, TelemetryKey = Model.TelemetryKey })

<div class="row">

<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Program summary</h3>
        </div>
        <div class="box-body">
            <table id="allProgramsUsageReport" class="table table-condensed table-bordered table-hover"></table>
        </div>
    </div>
</div>


<span class="apps-summary col-md-6" data-url="@Url.Action("GetSummaryCounts")?telemetryKey=@Model.TelemetryKey" id="@Strings.Id.ProgramDashboard">
    
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">Loading</h3>
        </div>
        <div class="box-body">
            Summary incomming...
        </div>
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</span>
</div>


<strong>Dashboard date range</strong>
<span id="DashboardDateRange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</span>

<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Overall daily activity</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="dailyActivityScoreChart" style="display: none;" height="250"></canvas>
                    </div>
                </div>
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Version distribution</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="versionDistributionChart" style="display: none;" height="250"></canvas>
                    </div>
                </div>
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Active users</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="dailyUsersCountChart" style="display: none;" height="250"></canvas>
                            </div>
                        </div>
                        <div class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>


            
            </div>

        </div>
        <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Users list</h3>
            </div>
            <div class="box-body">
                <table id="appUsersSummaryReport" class="table table-condensed table-bordered table-hover"></table>
            </div>
        </div>
    </div>
    </div>
    
</section>
@section scripts
{
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript">

        $(document).ready(function() {
            $.fn.dataTable.moment('@Strings.MomentJsDateTimeFormat');

            $(".apps-summary").load($(".apps-summary").data("url"), function() {
                $(".apps-summary").removeClass("col-md-6");
            });

            var start = moment().subtract(29, 'days').startOf('day');
            var end = moment().endOf('day');

            function onDateRangeChanged(start, end) {
                $('#DashboardDateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                drawCharts(start, end);
            }

            $('#DashboardDateRange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, onDateRangeChanged);

            onDateRangeChanged(start, end);



            



            $('#allProgramsUsageReport').DataTable({
                order: [[1, 'desc']],
                "paging": false,   
                "searching": false,   
                "bInfo": false,
                "ajax": {
                    url: "@Url.Action("GetProgramUsages")" + '?telemetryKey=@Model.TelemetryKey',
                    method: "post",
                    dataSrc: ""
                },
                "columns": [
                    {
                        title: 'Name',
                        "data": "@nameof(ProgramUsageSummary.ProgramName)"

                    },
                    {
                        title: 'Usage today',
                        "data": "@nameof(ProgramUsageSummary.TodayUsageCount)"
                    },
                    {
                        title: 'Total usage',
                        "data": "@nameof(ProgramUsageSummary.TotalUsageCount)"
                    },
                    {
                        title: '# Views',
                        "data": "@nameof(ProgramUsageSummary.ViewsCount)"
                    },
                    {
                        title: 'Total view usage',
                        "data": "@nameof(ProgramUsageSummary.TotalViewsUsageCount)"
                    },
                    {
                        title: '# Events',
                        "data": "@nameof(ProgramUsageSummary.EventsCount)"
                    },
                    {
                        title: 'Events total',
                        "data": "@nameof(ProgramUsageSummary.TotalEventsUsageCount)"
                    },
                ]
            });
        });

        function drawCharts(startDate, endDate) {

                $('#versionDistributionChart').closest('.box').find('.overlay').show();
                $.ajax({
                type: 'GET',
                    url: '@Url.Action("GetVersionDistribution")?telemetryKey=@Model.TelemetryKey&startDate=' + startDate.toISOString() + '&endDate=' + endDate.toISOString(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(chData) {

                    var dataT = {
                        labels: chData[0],
                        datasets: [
                            {
                                data: chData[1],
                                fill: true,
                            }
                        ]
                    };
                    var ctx = $('#versionDistributionChart')[0].getContext('2d');
                    $('#versionDistributionChart').show();
                    $('#versionDistributionChart').closest('.box').find('.overlay').hide();
                    var chart = new Chart(ctx,
                        {
                            type: 'doughnut',
                            data: dataT,
                            options: {
                                plugins: {
                                    colorschemes: {
                                        scheme: 'tableau.ClassicBlue7'
                                    }
                                },
                                legend: {
                                    display: true,
                                    position: "left"
                                }
                            }
                        });
                }
            });

                $('#dailyUsersCountChart').closest('.box').find('.overlay').show();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetDailyUsersCount")?telemetryKey=@Model.TelemetryKey&startDate=' + startDate.toISOString() + '&endDate=' + endDate.toISOString(),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(chData) {
                        var dataT = {
                            labels: chData[0],
                            datasets: [
                                {
                                    data: chData[1],
                                    fill: true,
                                }
                            ]
                        };
                        var ctx = $('#dailyUsersCountChart')[0].getContext('2d');
                        $('#dailyUsersCountChart').show();
                        $('#dailyUsersCountChart').closest('.box').find('.overlay').hide();
                        var chart = new Chart(ctx,
                            {
                                type: 'bar',
                                data: dataT,
                                options: {
                                    plugins: {
                                        colorschemes: {
                                            scheme: 'tableau.ClassicBlue7'
                                        }
                                    },
                                    legend: {
                                        display: false
                                    }
                                }
                            });
                    }
                });


            $('#dailyActivityScoreChart').closest('.box').find('.overlay').show();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDailyUsages")?telemetryKey=@Model.TelemetryKey&startDate=' + startDate.toISOString() + '&endDate=' + endDate.toISOString(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(chData) {

                    var dataT = {
                        labels: chData[0],
                        datasets: [
                            {
                                data: chData[1],
                                fill: true,
                                label : "Events"
                            },
                            {
                                data: chData[2],
                                fill: false,
                                label: "Views"
                            },
                            {
                                data: chData[3],
                                fill: false,
                                borderColor: "rgb(177, 60, 46)",
                                pointBorderColor: 'rgb(177, 60, 46)',
                                backgroundColor: 'rgb(221, 75, 57)',
                                pointBackgroundColor: 'rgb(221, 75, 57)',
                                label: "Errors"
                            },
                        ]
                    };
                    var ctx = $('#dailyActivityScoreChart')[0].getContext('2d');
                    $('#dailyActivityScoreChart').show();
                    $('#dailyActivityScoreChart').closest('.box').find('.overlay').hide();
                    var chart = new Chart(ctx,
                        {
                            type: 'line',
                            data: dataT,
                            options: {
                                plugins: {
                                    colorschemes: {
                                        scheme: 'tableau.ClassicMedium10'
                                    }
                                },
                                legend: {
                                    display: true,
                                }
                            }
                        });
                }
                });

                
                $('#appUsersSummaryReport').DataTable({
                    destroy: true,
                    order: [[2, 'desc']],
                    "ajax": {
                        url: "@Url.Action("GetAppUsersSummary")" + '?telemetryKey=@Model.TelemetryKey&startDate=' + startDate.toISOString() + '&endDate=' + endDate.toISOString(),
                        method: "post",
                        dataSrc: ""
                    },
                    "columns": [
                        {
                            title: 'Name',
                            "data": "@nameof(AppUsersSummaryData.UserName)"

                        },
                        {
                            title: 'File Version',
                            "data": "@nameof(AppUsersSummaryData.FileVersion)"

                        },
                        {
                            title: 'Activity score',
                            "data": "@nameof(AppUsersSummaryData.ActivityScore)"

                        },
                        {
                            title: 'First seen',
                            "data": "@nameof(AppUsersSummaryData.FirstSeenDate)",
                            render: function(data, type, row, meta) {
                                return toFormattedTimestamp(new Date(data));
                            }
                        },
                        {
                            title: 'Last active',
                            "data": "@nameof(AppUsersSummaryData.LastActiveDate)",
                            render: function(data, type, row, meta) {
                                return toFormattedTimestamp(new Date(data));
                            }
                        },
                    ]
                });
            }
    </script>

}
