@using DotNetLittleHelpers
@using Telimena.WebApp.Core.DTO
@using Telimena.WebApp.Models.Shared
@using Telimena.WebApp.UiStrings
@model Telimena.WebApp.Models.ProgramStatistics.ProgramStatisticsViewModel
@{
    ViewBag.Title = "Admin Dashboard";
}

@section styles{
    <style type="text/css">
        td.details-control {
            background: url('../../Content/Ionicons/png/512/plus-circled.png') no-repeat center center;
            background-size: 24px 24px;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../Content/Ionicons/png/512/minus-circled.png') no-repeat center center;
            background-size: 24px 24px;
        }
    </style>
}

@Html.Partial("_ProgramHeaderMenu", new ProgramHeaderMenuViewModel { ProgramName = Model.ProgramName, TelemetryKey = Model.TelemetryKey})


<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Events</h3>
            </div>
            <div class="box-body dataTables_wrapper form-inline dt-bootstrap">
                <table id="@Strings.Id.EventsTable" class="table table-bordered table-hover table-condensed" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">View Usages</h3>
            </div>
            <div class="box-body dataTables_wrapper form-inline dt-bootstrap">
                <table id="@Strings.Id.ViewUsageTable" class="table table-bordered table-hover table-condensed" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            function format(d) {

                var rows = '';

                for (var property in d.values) {
                    if (d.values.hasOwnProperty(property)) {
                        var key = property;
                        var value = d.values[property];

                        rows += '<tr><td style="font-weight: bold; padding: 2px;">' + key + '</td><td style="padding: 2px;">'+value+'</td></tr>';
                    }
                }

               

                return '<table cellpadding="0" cellspacing="0" border="1" style="padding-left:50px;">' + rows + '</table>';
            }

            function loadUsageTable(url) {
                return {
                serverSide: true,
                searching: true,
                processing: true,
                lengthMenu: [[15, 25, 70, -1], [15, 25, 70, "All"]],
                pageLength: 15,
                order: [[ 0, 'desc' ]],
                ajax: url,

                columns: [
                    {
                        name: "@nameof(DataTableTelemetryDataBase.Timestamp)",
                        data: "@nameof(DataTableTelemetryDataBase.Timestamp).ToLowerFirstChar()",
                        render: function(data, type, row, meta) {
                            return toFormattedTimestamp(new Date(data));                        },
                        title:"@nameof(DataTableTelemetryDataBase.Timestamp)",
                        sortable: true,
                        searchable: false
                    },
                    {
                        name:  "@nameof(DataTableTelemetryDataBase.Sequence)",
                        data:  "@nameof(DataTableTelemetryDataBase.Sequence).ToLowerFirstChar()",
                        title: "@nameof(DataTableTelemetryDataBase.Sequence)",
                        sortable: true,
                        searchable: true,
                        render: function (data, type, row, meta) {
                            return renderSequenceHistoryUrl(data, type, "@Url.Action("SequenceHistory")?telemetryKey=@Model.TelemetryKey&sequenceId=" + encodeURIComponent(data));
                        }
                    },
                    {   
                        name:  "@nameof(DataTableTelemetryDataBase.EntryKey)",
                        data:  "@nameof(DataTableTelemetryDataBase.EntryKey).ToLowerFirstChar()",
                        title: "@nameof(DataTableTelemetryDataBase.EntryKey)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name:  "@nameof(DataTableTelemetryDataBase.ProgramVersion)",
                        data:  "@nameof(DataTableTelemetryDataBase.ProgramVersion).ToLowerFirstChar()",
                        title: "@nameof(DataTableTelemetryDataBase.ProgramVersion)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name:  "@nameof(DataTableTelemetryDataBase.UserName)",
                        data:  "@nameof(DataTableTelemetryDataBase.UserName).ToLowerFirstChar()",
                        title: "@nameof(DataTableTelemetryDataBase.UserName)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name:  "@nameof(DataTableTelemetryDataBase.IpAddress)",
                        data:  "@nameof(DataTableTelemetryDataBase.IpAddress).ToLowerFirstChar()",
                        title: "@nameof(DataTableTelemetryDataBase.IpAddress)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        title: "Details",
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },

                 ]
            }
            }

            $('#@Strings.Id.EventsTable').DataTable(loadUsageTable("@Url.Action("GetProgramUsageData")" + "?telemetryKey=@Model.TelemetryKey&itemType=@TelemetryItemTypes.Event"));
            $('#@Strings.Id.ViewUsageTable').DataTable(loadUsageTable("@Url.Action("GetProgramUsageData")" + "?telemetryKey=@Model.TelemetryKey&itemType=@TelemetryItemTypes.View"));

            
            $('tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var table = $(this).closest('table').DataTable({ "bRetrieve": true });
                var row = table.row( tr );
 
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );


        });
    </script>

}
