@using DotNetLittleHelpers
@using Telimena.WebApp.Core.DTO
@using Telimena.WebApp.UiStrings
@model Telimena.WebApp.Models.ProgramStatistics.ProgramStatisticsViewModel

@section styles{
    @Styles.Render("//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
}


<section class="content-header">
    <h1>
        @Model.ProgramName
        <small>Logs</small>
    </h1>
</section>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">View Usages</h3>
            </div>
            <div class="box-body dataTables_wrapper form-inline dt-bootstrap">
                <table id="@Strings.Id.ExceptionsTable" class="table table-bordered table-hover table-condensed" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            function loadTable(url) {
                return {
                serverSide: true,
                searching: false,
                processing: true,
                lengthMenu: [[15, 25, 70, -1], [15, 25, 70, "All"]],
                pageLength: 15,
                order: [[ 0, 'desc' ]],
                ajax: url,

                columns: [
                    {
                        name: "@nameof(TelemetryDataBase.Timestamp)",
                        data: "@nameof(TelemetryDataBase.Timestamp).ToLowerFirstChar()",
                        render: function(data, type, row, meta) {
                            return toFormattedTimestamp(new Date(data));                        },
                        title:"@nameof(TelemetryDataBase.Timestamp)",
                        sortable: true,
                        searchable: false
                    },
                    {
                        name:  "@nameof(TelemetryDataBase.Sequence)",
                        data:  "@nameof(TelemetryDataBase.Sequence).ToLowerFirstChar()",
                        title: "@nameof(TelemetryDataBase.Sequence)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name:  "@nameof(TelemetryDataBase.EntryKey)",
                        data:  "@nameof(TelemetryDataBase.EntryKey).ToLowerFirstChar()",
                        title: "@nameof(TelemetryDataBase.EntryKey)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name:  "@nameof(TelemetryDataBase.ProgramVersion)",
                        data:  "@nameof(TelemetryDataBase.ProgramVersion).ToLowerFirstChar()",
                        title: "@nameof(TelemetryDataBase.ProgramVersion)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name:  "@nameof(TelemetryDataBase.UserName)",
                        data:  "@nameof(TelemetryDataBase.UserName).ToLowerFirstChar()",
                        title: "@nameof(TelemetryDataBase.UserName)",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name:  "@nameof(TelemetryDataBase.Details)",
                        data:  "@nameof(TelemetryDataBase.Details).ToLowerFirstChar()",
                        title: "@nameof(TelemetryDataBase.Details)",
                        sortable: false,
                        searchable: true
                    },
                 ]
            }
            }

            $('#@Strings.Id.ExceptionsTable').DataTable(loadTable("@Url.Action("GetProgramUsageData")" + "?telemetryKey=@Model.TelemetryKey&itemType=@TelemetryItemTypes.Exception"));

        });
    </script>

}
