@using DotNetLittleHelpers
@using Telimena.WebApp.Core
@using Telimena.WebApp.Core.DTO
@using Telimena.WebApp.Core.DTO.MappableToClient
@using Telimena.WebApp.UiStrings
@model global::Telimena.WebApp.Models.ProgramStatistics.ProgramStatisticsViewModel
@{
    ViewBag.Title = "Admin Dashboard";
}

@section styles{
    @Styles.Render("//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />

}


<section class="content-header">
    <h1>
        @Model.ProgramName
        <small>Create your own pivot table reports</small>
    </h1>
</section>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary" >
            <div class="box-header">
                <h3 class="box-title">Event telemetry data</h3>
            </div>
            <div class="box-body">
                <div id="@Strings.Id.EventTelemetryPivotTable"></div>
            </div>
            <div class="overlay" >
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">View access telemetry data</h3>
            </div>
            <div class="box-body">
                <div id="@Strings.Id.ViewTelemetryPivotTable"></div>
            </div>
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            loadPivotTableData("@Url.Action("GetPivotTableData")" + "?type=@TelemetryItemTypes.Event&telemetryKey=@Model.TelemetryKey", @Strings.Id.EventTelemetryPivotTable);
            loadPivotTableData("@Url.Action("GetPivotTableData")" + "?type=@TelemetryItemTypes.View&telemetryKey=@Model.TelemetryKey", @Strings.Id.ViewTelemetryPivotTable);

            function loadPivotTableData(url, table) {
                $.get(url,
                    function(data) {
                        data.Rows.unshift(data.Header);
                        var pivot = new WebDataRocks({
                            container: table,
                            toolbar: true,
                            report: {
                                dataSource: {
                                    data: data.Rows
                                },
                                "options": {
                                    "grid": {
                                        "type": "flat"
                                    }
                                }
                            }
                        });
                        $(table).closest('.box').find('.overlay').hide();
                    });
            }

        });
    </script>

}
