@using Telimena.WebApp.UiStrings
@model Telimena.WebApp.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<h2>Change password</h2>
<div class="row">

    <div class="col-md-8">
        @if (Model != null && Model.IsSuccess)
        {
            <label class="label label-success">Password changed successfully!</label>
        }
        <section id="@Strings.Id.PasswordForm">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPasswordRepeated, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPasswordRepeated, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.NewPasswordRepeated, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default"/>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
