@using Telimena.WebApp.Core.Messages
@using Telimena.WebApp.UiStrings


<div id="@Strings.Id.RegisterApplicationForm"  class="row">

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Register application</h3>
            </div>
            <div class="box-body">
                        <form id="@Strings.Id.RegisterApplicationForm" role="form" class="form">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>Telemetry key: </label>
                                <input class="form-control" type="text" id="@Strings.Id.TelemetryKeyInputBox" value="@Guid.NewGuid()"/>
                            </div>
                            <div class="form-group">
                                <label>Program Name: </label>
                                <input class="form-control" placeholder="Display name of the program." type="text" id="@Strings.Id.ProgramNameInputBox"/>
                            </div>
                            <div class="form-group">
                                <label>Program description: </label>
                                <input class="form-control" placeholder="Description of the program."  type="text" id="@Strings.Id.ProgramDescriptionInputBox"/>
                            </div>
                            <div class="form-group">
                                <label>Primary assembly file name: </label>
                                <input class="form-control"  placeholder="Filename (and extension) of the main assembly of your program, e.g. 'MyStandaloneApp.exe' or 'MyPlugin.dll'"  type="text" id="@Strings.Id.PrimaryAssemblyNameInputBox"/>
                            </div>
                           
                            <div class="form-group">
                                <div class="">
                                    <input type="submit" value="Register" class="btn btn-primary"  id="@Strings.Id.SubmitAppRegistration" />
                                </div>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#@Strings.Id.RegisterApplicationForm').submit(function (e) {
                    e.preventDefault();
                var model = {
                    @nameof(RegisterProgramRequest.Name): $('#@Strings.Id.ProgramNameInputBox').val(),
                    @nameof(RegisterProgramRequest.Description): $('#@Strings.Id.ProgramDescriptionInputBox').val(),
                    @nameof(RegisterProgramRequest.TelemetryKey): $('#@Strings.Id.TelemetryKeyInputBox').val(),
                    @nameof(RegisterProgramRequest.PrimaryAssemblyFileName): $('#@Strings.Id.PrimaryAssemblyNameInputBox').val(),
                };

                $.ajax({
                        type: 'POST',
                        url: '/api' + '@Url.Action("Register", "Programs")',
                        contentType: "application/json; charset=utf-8",
                        datatype: 'Json',
                        data: JSON.stringify(model)
                    })
                    .done(function (xhr) {
                        if (xhr.Exception === undefined) {
                            window.location.href = xhr.ProgramPageUrl;
                        } else {
                            alert(xhr.Exception.Message);
                        }
                    })
                    .fail(function(xhr) {
                        alert(xhr.responseJSON.InnerException.ExceptionMessage);
                    });
            });
        });
    </script>
}