@using Telimena.WebApp.Models.Shared
@model Telimena.WebApp.Core.DTO.AllProgramsSummaryData
<!-- Small boxes (Stat box) -->
<div class="row">
    <!-- ./col -->
    @Html.Partial("_InfoBox", new BoxViewModel() { BackgroundColorClass = "bg-yellow", IconClass = "fa-users", Label = "Total Applications Users", Value = @Model.TotalAppUsersCount.ToString(), SecondaryLabel = "Users registered in last 7 days: " + @Model.AppUsersRegisteredLast7DaysCount })

    @Html.Partial("_InfoBox", new BoxViewModel() { BackgroundColorClass = "bg-aqua", IconClass = "fa-object-group", Label = "All registered programs", Value = Model.TotalProgramsCount.ToString(), SecondaryLabel = "Usage count: " + Model.TotalProgramUsageCount })
    
    @Html.Partial("_InfoBox", new BoxViewModel() { BackgroundColorClass = "bg-green", IconClass = "fa-magic", Label = "All registered functions", Value = Model.TotalFunctionsCount.ToString(), SecondaryLabel = "Usage count: " + Model.TotalFunctionsUsageCount })

    @Html.Partial("_InfoBox", new BoxViewModel() { BackgroundColorClass = "bg-red", IconClass = "fa-star-o", Label = "Newest program", Value = Model.NewestProgram?.Name, SecondaryLabel = "Author: " + Model.NewestProgram?.Developer?.Name})

</div>