@using DotNetLittleHelpers
@using Telimena.WebApp.Core.DTO
@using Telimena.WebApp.Core.Models

@{
    ViewBag.Title = "Admin Dashboard";
}
@section styles{
    @Styles.Render("//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
}

<section class="content-header">
    <h1>
        Admin Dashboard
        <small>All programs summary</small>
    </h1>
</section>
<section class="content apps-summary" data-url="@Url.Action("GetAllProgramsSummaryCounts")">
    <div class="box box-default col-md-12">
        <div class="box-header">
            <h3 class="box-title">Loading</h3>
        </div>
        <div class="box-body">
            Summary incomming...
        </div>
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">All programs report</h3>
            </div>
            <div class="box-body">
                <table id="allProgramsReport" class="table table-bordered table-hover" data-url="@Url.Action("GetAllPrograms")">
                    <thead>
                        <tr>
                            <th>@nameof(ProgramSummary.ProgramId)</th>
                            <th>@nameof(ProgramSummary.ProgramName)</th>
                            <th>@nameof(ProgramSummary.FunctionsCount)</th>
                            <th>@nameof(ProgramSummary.TotalFunctionsUsageCount)</th>
                            <th>@nameof(ProgramSummary.UsersCount)</th>
                            <th>@nameof(ProgramSummary.TodayUsageCount)</th>
                            <th>@nameof(ProgramSummary.TotalUsageCount)</th>
                            <th>@nameof(ProgramSummary.LastUsage)</th>
                            <th>@nameof(ProgramSummary.RegisteredDate)</th>
                            <th>@nameof(ProgramSummary.LatestVersion)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

<script type="text/javascript">
        $(document).ready(function () {
            $(".apps-summary").load($(".apps-summary").data("url"));

            $('#allProgramsReport').DataTable({

                "ajax": {
                    url: "@Url.Action("GetAllPrograms")",
                    method: "post",
                    dataSrc:""
                },
                "columns": [
                    { "data": "@nameof(ProgramSummary.ProgramId)" },
                    { "data": "@nameof(ProgramSummary.ProgramName)" },
                    { "data": "@nameof(ProgramSummary.FunctionsCount)"  },
                    { "data": "@nameof(ProgramSummary.TotalFunctionsUsageCount)"  },
                    { "data": "@nameof(ProgramSummary.UsersCount)"  },
                    { "data": "@nameof(ProgramSummary.TodayUsageCount)"  },
                    { "data": "@nameof(ProgramSummary.TotalUsageCount)"  },
                    {
                        "data": "@nameof(ProgramSummary.LastUsage)",
                        render: function (data, type, row, meta) {
                            var datetime = new Date(data);
                            return datetime.toLocaleString();
                        }
                    },
                    {
                        "data": "@nameof(ProgramSummary.RegisteredDate)",
                        render: function(data, type, row, meta) {
                            var datetime = new Date(data);
                            return datetime.toLocaleString();
                        }
                        
                    },
                    { "data": "@nameof(ProgramSummary.LatestVersion)" },
                ]
            });
        });
</script>

}
