@using Telimena.WebApp.Core.DTO
@using Telimena.WebApp.UiStrings
@{
    ViewBag.Title = "Admin Dashboard";
}

@section styles{
    @Styles.Render("//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
}

<section id="@Strings.Id.DeveloperDashboard" class="content-header">
    <h1>
        Dashboard
        <small>All your programs summary</small>
    </h1>
</section>
<br />
<section class="apps-summary" data-url="@Url.Action("GetAllProgramsSummaryCounts")">
    <div class="box box-default col-md-12">
        <div class="box-header">
            <h3 class="box-title">Loading</h3>
        </div>
        <div class="box-body">
            Summary incomming...
        </div>
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">All programs report</h3>
            </div>
            <div class="box-body">
                <table id="allProgramsReport" class="table table-condensed table-bordered table-hover" data-url="@Url.Action("GetAllPrograms")">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Developer</th>
                            <th>@nameof(ProgramSummary.LatestVersion)</th>
                            <th># Views</th>
                            <th># Views usages today</th>
                            <th># Views usages</th>
                            <th># Users</th>
                            <th># Usage today</th>
                            <th># Usage total</th>
                            <th>@nameof(ProgramSummary.LastUsage)</th>
                            <th>Registered</th>
                            <th>Telimena Version</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

    <script type="text/javascript">
        $(document).ready(function() {
            $(".apps-summary").load($(".apps-summary").data("url"));

            $('#allProgramsReport').DataTable({
                "ajax": {
                    url: "@Url.Action("GetAllPrograms")",
                    method: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "@nameof(ProgramSummary.ProgramId)" },
                    { "data": "@nameof(ProgramSummary.ProgramName)" },
                    { "data": "@nameof(ProgramSummary.DeveloperName)" },
                    { "data": "@nameof(ProgramSummary.LatestVersion)" },
                    { "data": "@nameof(ProgramSummary.ViewsCount)" },
                    { "data": "@nameof(ProgramSummary.TotalTodayViewsUsageCount)" },
                    { "data": "@nameof(ProgramSummary.TotalViewsUsageCount)" },
                    { "data": "@nameof(ProgramSummary.UsersCount)" },
                    { "data": "@nameof(ProgramSummary.TodayUsageCount)" },
                    { "data": "@nameof(ProgramSummary.TotalUsageCount)" },
                    {
                        "data": "@nameof(ProgramSummary.LastUsage)",
                        render: function(data, type, row, meta) {
                            var datetime = new Date(data);
                            return datetime.toLocaleString();
                        }
                    },
                    {
                        "data": "@nameof(ProgramSummary.RegisteredDate)",
                        render: function(data, type, row, meta) {
                            var datetime = new Date(data);
                            return datetime.toLocaleString();
                        }
                    },
                    { "data": "@nameof(ProgramSummary.AssociatedToolkitVersion)" },
                ]
            });
        });
    </script>

}
