@using Telimena.WebApp.Core.Interfaces
@using Telimena.WebApp.Models.PortalUsers
@using Telimena.WebApp.UiStrings
@model Telimena.WebApp.Models.PortalUsers.PortalUsersViewModel
@{
    ViewBag.Title = "Portal users";
}

@section styles{
    @Styles.Render("//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">All Portal Users</h3>
            </div>
            <div class="box-body">
                <table id="@Strings.Id.PortalUsersTable" class="table-condensed table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Display Name</th>
                        <th>Email (Login)</th>
                        <th>Developer acccounts</th>
                        <th>Created</th>
                        <th>Last Login</th>
                        <th>Is Activated</th>
                        <th>Roles</th>
                        <th>Must change password</th>
                        <th>Guid</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (TelimenaUserViewModel user in Model.Users)
                    {
                        <tr>
                            <td>@user.UserNumber</td>
                            <td>@user.DisplayName</td>
                            <td>@user.Email</td>
                            <td>@string.Join(", ", user.DeveloperAccountsLed)</td>
                            <td>@user.RegisteredDate</td>
                            <td>@user.LastLoginDate</td>
                            <td>
                                @user.IsActivated -
                                @{
                                    string buttonText = user.IsActivated ? "Deactivate" : "Activate";
                                }
                                @Ajax.ActionLink(buttonText, "ToggleUserActivation", new {userId = user.Id, isActive = user.IsActivated}, new AjaxOptions {HttpMethod = "POST", OnSuccess = "pageReload"})
                            </td>
                            <td>
                                @Html.Partial("_RoleActivator", new Tuple<TelimenaUserViewModel, string>(user, TelimenaRoles.Admin)) <br/>
                                @Html.Partial("_RoleActivator", new Tuple<TelimenaUserViewModel, string>(user, TelimenaRoles.Developer)) <br/>
                                @Html.Partial("_RoleActivator", new Tuple<TelimenaUserViewModel, string>(user, TelimenaRoles.Viewer))<br/>
                            </td>
                            <td>@user.MustChangePassword</td>
                            <td>@user.Id</td>
                        </tr>
                    }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#@Strings.Id.PortalUsersTable').DataTable();
        });

        function pageReload() {
            location.reload();
        }
    </script>

}
