@using Telimena.WebApp.UiStrings
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">DEVELOPER</li>
    <li>
        <a href="@Url.Action("Index", "DeveloperDashboard")" id="@Strings.Id.DeveloperDashboardLink">
            <i class="fa fa-line-chart"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Team")" id="@Strings.Id.TeamManagementLink">
            <i class="fa fa-group"></i> <span>Team Management</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Register", "RegisterProgram")" id="@Strings.Id.RegisterApplicationLink">
            <i class="fa fa-key"></i> <span>Register application</span>
        </a>
    </li>
    @{ Html.RenderAction("ProgramsList", "Home"); }
</ul>