@using Telimena.WebApp.UiStrings
@model Telimena.WebApp.Models.Shared.ProgramsListViewModel
<li class="treeview menu-open" id="@Strings.Id.MyAppsList">
    <a href="#">
        <i class="fa fa-laptop"></i> <span>My applications</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" style="display: block;">
        @foreach (KeyValuePair<Guid, string> app in Model.Programs)
        {
            <li class="treeview">
                <a href="#" id="@(app.Value)_menu">
                    <i class="fa fa-codepen"></i> <span>@app.Value</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "ProgramManagement", new {telemetryKey = app.Key})" id="@(app.Value)_manageLink">
                            <i class="fa fa-cog"></i> <span>Manage</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "ProgramStatistics", new {telemetryKey = app.Key})" id="@(app.Value)_statsLink">
                            <i class="fa fa-bar-chart"></i> <span>Events and views</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Exceptions", "ProgramStatistics", new {telemetryKey = app.Key})" id="@(app.Value)_exceptionsLink">
                            <i class="fa fa-exclamation-triangle"></i> <span>Exceptions</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logs", "ProgramStatistics", new {telemetryKey = app.Key})" id="@(app.Value)_logsLink">
                            <i class="fa fa-file-text"></i> <span>Logs</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PivotTable", "ProgramStatistics", new {telemetryKey = app.Key})" id="@(app.Value)_pivotTableLink">
                            <i class="fa fa-table"></i> <span>Pivot table reports</span>
                        </a>
                    </li>

                </ul>
                
                
                
            </li>
        }
    </ul>
</li>