@using Telimena.WebApp.UiStrings
@model Telimena.WebApp.Models.Shared.ProgramsListViewModel
<li class="treeview menu-open" id="@Strings.Id.MyAppsList">
    <a href="#">
        <i class="fa fa-laptop"></i> <span>My applications</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" style="display: block;">
        @foreach (KeyValuePair<int, string> app in Model.Programs)
        {
            <li class="treeview">
                <a href="#" id="@(app.Value)_menu">
                    <i class="fa fa-codepen"></i> <span>@app.Value</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" >
                    <li><a href="@Url.Action("Index", "ProgramManagement", new {programName = app.Value})" id="@(app.Value)_manageLink">
                        <i class="fa fa-cog"></i> <span>Manage</span>
                    </a></li>
                    <li><a href="@Url.Action("Index", "ProgramStatistics", new {programName = app.Value})" id="@(app.Value)_statsLink">
                        <i class="fa fa-bar-chart"></i> <span>View Statistics</span>
                    </a></li>
                </ul>
                
                
                
            </li>
        }
    </ul>
</li>